<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventrix</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- tailwind -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
</head>

<body>
    <div class="header">
        <%- include('../partials/nav'); %>
    </div>
    <main id="swup" class="transition-fade p-3 h-screen">
        <h1>
            Event- 1
        </h1>

    </main>
    <div class="footer">
        <%- include('../partials/foot'); %>
    </div>
    <!-- scripts -->
    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- swup -->
    <!-- swup -->
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>