<nav class="contents font-semibold text-base lg:text-lg">
    <ul class="mx-auto flex flex-wrap items-center">
        <li class="p-5 xl:p-8 active">
            <a href="/">
                <span>Home</span>
            </a>
        </li>
        <li class="p-5 xl:p-8">
            <a href="/event">
                <span>Event</span>
            </a>
        </li>
        <li class="p-5 xl:p-8">
            <a href="/theme">
                <span>Theme</span>
            </a>
        </li>
        <li class="p-5 xl:p-8">
            <a href="/news">
                <span>News</span>
            </a>
        </li>
        <li class="p-5 xl:p-8">
            <a href="/contact">
                <span>Contact</span>
            </a>
        </li>
    </ul>
</nav>