<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventrix</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://kit.fontawesome.com/e9b6b18513.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,1,200" />
    <!-- tailwind -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
</head>

<body>
    <div class="header">
        <%- include('./partials/nav'); %>
    </div>
    <main id="swup" class="transition-fade  h-full">

        <section class="contact">
            <div class="content text-left">
                <h1>
                    Contact Us
                </h1>
                <p>
                    Please fill up the form and our team will get back in 24 hours
                </p>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><span class="material-symbols-outlined">
                                location_on
                            </span></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>Mithaghar Rd Jaihind Colony,<br>Tata Colony, Mulund East, Mumbai<br>Maharashtra 400081
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">


                            <span class="material-symbols-outlined">
                                call
                            </span>
                        </div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>9136526200</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><span class="material-symbols-outlined">
                                mail
                            </span></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>vazeinventrix@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea name="" required="required"></textarea>
                            <span>Type your Message...</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" required="required" value="Send">

                        </div>
                    </form>
                </div>
            </div>
        </section>
        </div>
        </div>
        </section>
    </main>
    <div class="footer">
        <%- include('./partials/foot'); %>
    </div>
    <!-- scripts -->
    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- swup -->
    <!-- swup -->
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>