<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hmmm.....</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    img {
        width: 100%;
        height: 100vh;
    }
</style>

<body>
    <section>
        <img src="https://media3.giphy.com/media/QMHoU66sBXqqLqYvGO/giphy.gif?cid=790b76117e9f77fc01dc444002ce2fb13b9b9023b7cd1a5a&rid=giphy.gif"
            alt="error">
    </section>
</body>
<script>
    setTimeout(() => {
        window.location.href = "/";
    }, 3900)
</script>

</html>