<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/space_invader.ico">
    <title>Inventrix</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- tailwind -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
</head>

<body>
    <div class="header">
        <%- include('./partials/nav'); %>
    </div>
    <main id="swup" class="transition-fade h-full">

        <section id="" class="dark:bg-gray-900 w-auto" style="background-color: black">
            <h1 style="color: white; font-size:3rem;padding-left: 15%;padding-top: 5%;padding-bottom: 5%;">Events</h1>
            <!-- first -->
            <div
                class="flex show flex-wrap justify-center max-w-screen-xl p-1 mx-auto gap-8 lg:py-16 lg:grid-cols-12 bg-transparent">
                <div class="flex-col md:flex-row flex gap-8 w-full  align-center md:gap-6 p-8 mb-6 rounded-l-lg"
                    style="justify-content: space-around;align-items: center;">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/e8AA4cYrNI4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                    <a href="events/event1"
                        class="block h-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <span style="color:rgb(0, 0, 0)">HACKER</span> <span style="color:#ff0000">WITHIN</span>
                            <span style="color:rgb(160, 160, 160)">US</span>
                        </h5>
                        <cite class="text-yellow-300">
                            (click here to register)
                        </cite>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            Some of you must have played the game called Mafia, some of you must have played the game
                            called
                            Among Us. What we have done is modify each game and made a fusion of it. Who will win? The
                            hackers or the people? To find out, join us on the adventure!
                            <br>
                            <br>
                            Entry Fee 10 Rs
                        </p>
                    </a>
                </div>
            </div>

            <!-- second -->
            <div
                class="show flex flex-wrap justify-center max-w-screen-xl p-1 mx-auto gap-8 lg:py-16 lg:grid-cols-12 bg-transparent">
                <div class="flex-col md:flex-row flex gap-8 w-full  align-center md:gap-6 p-8 mb-6 rounded-l-lg"
                    style="justify-content: space-around;align-items: center;">
                    <img src="https://cdn.dribbble.com/users/2157206/screenshots/15756062/2021-05-14-indiana-jones.gif"
                        alt="hunt">


                    <a href="events/event2"
                        class="block h-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <span style="color:rgb(0, 0, 0)">Treasure</span> <span style="color:#ff0000">Hunt</span>
                        </h5>
                        <cite class="text-yellow-300">
                            (click here to register)
                        </cite>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            Bizzare Treasure Hunt Adventure For You to play and win.
                            <br>
                            <br>
                            Entry Fee 100 Rs
                        </p>
                    </a>
                </div>
            </div>
            <!-- third -->
            <div
                class="show flex flex-wrap justify-center max-w-screen-xl p-1 mx-auto gap-8 lg:py-16 lg:grid-cols-12 bg-transparent">

                <div class="flex-col md:flex-row flex gap-8 w-full  align-center md:gap-6 p-8 mb-6 rounded-l-lg"
                    style="justify-content: space-around;align-items: center;">
                    <img src="https://cdn.dribbble.com/users/764115/screenshots/8069874/media/af04bf03a4bbe026a8a299c60fc2285f.gif"
                        alt="mini">

                    <a href="events/event3"
                        class="block h-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <span style="color:rgb(0, 0, 0)">Inventrix</span> <span style="color:#ff0000">Mania</span>
                        </h5>
                        <cite class="text-yellow-300">
                            (click here to register)
                        </cite>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            A group of Short Mini games to play and win prizes from.
                            <br>
                            <br>
                            Entry Fee 10 Rs (per Game)
                        </p>
                    </a>
                </div>
            </div>
            <!-- fourth -->
            <div
                class="show flex flex-wrap justify-center max-w-screen-xl p-1 mx-auto gap-8 lg:py-16 lg:grid-cols-12 bg-transparent">
                <div class="flex-col md:flex-row flex gap-8 w-full  align-center md:gap-6 p-8 mb-6 rounded-l-lg"
                    style="justify-content: space-around;align-items: center;">
                    <img src="https://media.tenor.com/3bTxZ4HdrysAAAAC/pixels-neon.gif" alt="hack">

                    <a href="events/event4"
                        class="block h-full max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-200 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <span style="color:rgb(0, 0, 0)">Save The</span> <span style="color:#ff0000">System</span>
                        </h5>
                        <cite class="text-yellow-300">
                            (click here to register)
                        </cite>
                        <p class="font-normal text-gray-700 dark:text-gray-400">
                            Hacker has compromised yor program and it is giving you compilation error and all now u
                            have to fix it and make your system run

                            Imagine multiplying two numbers is the program
                            And hacker fucked it up
                            Destroyed it and you have two chances to make it run or else the whole system gonna crash

                            So you use ur skills and and fix the errors and save the system
                            <br>
                            <br>
                            Entry Fee 10 Rs
                        </p>
                    </a>


                </div>
            </div>
        </section>
    </main>

    <div class="footer">
        <%- include('./partials/foot'); %>
    </div>
    <!-- scripts -->
    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- swup -->
    <!-- swup -->
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>
