<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventrix</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- tailwind -->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <div class="header">
        <%- include('./partials/nav'); %>
    </div>
    <main id="swup" class="transition-fade h-auto">


        <div class="grid md:grid-cols-2 md:gap-6 mb-6 h-auto  event_banner ">
            <div>
                <span style="color:black;font-weight: bold;font-size: 32px;background-color: white;padding: 0.5rem;">
                    EVENT 1
                </span>
                <h1 class="pl-5 event_name1">
                    HACKER <br> WITHIN <br> US
                </h1>
            </div>
            <div class="p-3 text-left">
                <div style="background-color:#FAA68D;padding:2rem;font-size: 2rem ;border-radius: 10px;margin-top: 3rem;" class="mx-auto rounded evnt">
                    <div>
                        <span class="done">
                            <b>DATE</b> :  FRIDAY JAN. 5
                        </span>
                    </div>
                    <div style="margin-top: 1rem;">
                        <span class="done">
                            <b>TIME</b> : 9AM to 1PM
                         </span>
                    </div>
                    <div style="margin-top: 1rem;">
                        <span class="done">
                            <B>VENUE</B> : GROUND
                        </span>
                    </div>
                    
                     <button onclick="location.href='events/event1';" class="regist2"><span style="background-color: white; padding-left: 4rem;padding-right: 0.2rem;" id="nd">REGISTER</span></button>
                </div>
                <div class="text-center">
                        <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-5" type="button"> <span class="material-symbols-outlined">
                            description
                            </span> DESCRIPTION <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                        <!-- Dropdown menu -->
                        <div id="dropdown" class="hidden z-10 w-96 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 p-5 text-justify">
                            Some of you must have played the game called Mafia, some of you must have played the game called Among Us. What we have done is modify each game and made a fusion of it. Who will win? The hackers or the people? To find out, join us on the adventure!
                        </div>
                        
                        <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>                           
                            <span style="padding-left: 0.2rem;">WATCH DEMO</span>
                          </button>
                        
                </div>   
                </div>
            </div>

            <div class="grid md:grid-cols-2 md:gap-6 mb-6 h-auto  event_banner ">
                <div>
                    <span style="color:black;font-weight: bold;font-size: 32px;background-color: white;padding: 0.5rem;">
                        EVENT 2
                    </span>
                    <h1 class="pl-5 event_name1">
                        HACKER <br> WITHIN <br> US
                    </h1>
                </div>
                <div class="p-3 text-left">
                    <div style="background-color:#FAA68D;padding:2rem;font-size: 2rem ;border-radius: 10px;margin-top: 3rem;" class="mx-auto rounded evnt">
                        <div>
                            <span class="done">
                                <b>DATE</b> :  FRIDAY JAN. 5
                            </span>
                        </div>
                        <div style="margin-top: 1rem;">
                            <span class="done">
                                <b>TIME</b> : 9AM to 1PM
                             </span>
                        </div>
                        <div style="margin-top: 1rem;">
                            <span class="done">
                                <B>VENUE</B> : GROUND
                            </span>
                        </div>
                        
                         <button onclick="location.href='events/event1';" class="regist2"><span style="background-color: white; padding-left: 4rem;padding-right: 0.2rem;" id="nd">REGISTER</span></button>
                    </div>
                    <div class="text-center">
                            <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-5" type="button"> <span class="material-symbols-outlined">
                                description
                                </span> DESCRIPTION <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                            <!-- Dropdown menu -->
                            <div id="dropdown" class="hidden z-10 w-96 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 p-5 text-justify">
                                Some of you must have played the game called Mafia, some of you must have played the game called Among Us. What we have done is modify each game and made a fusion of it. Who will win? The hackers or the people? To find out, join us on the adventure!
                            </div>
                            
                            <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>                           
                                <span style="padding-left: 0.2rem;">WATCH DEMO</span>
                              </button>
                            
                    </div>   
                    </div>
                </div>

                <div class="grid md:grid-cols-2 md:gap-6 mb-6 h-auto  event_banner ">
                    <div>
                        <span style="color:black;font-weight: bold;font-size: 32px;background-color: white;padding: 0.5rem;">
                            EVENT 3
                        </span>
                        <h1 class="pl-5 event_name1">
                            HACKER <br> WITHIN <br> US
                        </h1>
                    </div>
                    <div class="p-3 text-left">
                        <div style="background-color:#FAA68D;padding:2rem;font-size: 2rem ;border-radius: 10px;margin-top: 3rem;" class="mx-auto rounded evnt">
                            <div>
                                <span class="done">
                                    <b>DATE</b> :  FRIDAY JAN. 5
                                </span>
                            </div>
                            <div style="margin-top: 1rem;">
                                <span class="done">
                                    <b>TIME</b> : 9AM to 1PM
                                 </span>
                            </div>
                            <div style="margin-top: 1rem;">
                                <span class="done">
                                    <B>VENUE</B> : GROUND
                                </span>
                            </div>
                            
                             <button onclick="location.href='events/event1';" class="regist2"><span style="background-color: white; padding-left: 4rem;padding-right: 0.2rem;" id="nd">REGISTER</span></button>
                        </div>
                        <div class="text-center">
                                <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-5" type="button"> <span class="material-symbols-outlined">
                                    description
                                    </span> DESCRIPTION <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                                <!-- Dropdown menu -->
                                <div id="dropdown" class="hidden z-10 w-96 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 p-5 text-justify">
                                    Some of you must have played the game called Mafia, some of you must have played the game called Among Us. What we have done is modify each game and made a fusion of it. Who will win? The hackers or the people? To find out, join us on the adventure!
                                </div>
                                
                                <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>                           
                                    <span style="padding-left: 0.2rem;">WATCH DEMO</span>
                                  </button>
                                
                        </div>   
                        </div>
                    </div>

                    <div class="grid md:grid-cols-2 md:gap-6 mb-6 h-auto  event_banner ">
                        <div>
                            <span style="color:black;font-weight: bold;font-size: 32px;background-color: white;padding: 0.5rem;">
                                EVENT 4
                            </span>
                            <h1 class="pl-5 event_name1">
                                HACKER <br> WITHIN <br> US
                            </h1>
                        </div>
                        <div class="p-3 text-left">
                            <div style="background-color:#FAA68D;padding:2rem;font-size: 2rem ;border-radius: 10px;margin-top: 3rem;" class="mx-auto rounded evnt">
                                <div>
                                    <span class="done">
                                        <b>DATE</b> :  FRIDAY JAN. 5
                                    </span>
                                </div>
                                <div style="margin-top: 1rem;">
                                    <span class="done">
                                        <b>TIME</b> : 9AM to 1PM
                                     </span>
                                </div>
                                <div style="margin-top: 1rem;">
                                    <span class="done">
                                        <B>VENUE</B> : GROUND
                                    </span>
                                </div>
                                
                                 <button onclick="location.href='events/event1';" class="regist2"><span style="background-color: white; padding-left: 4rem;padding-right: 0.2rem;" id="nd">REGISTER</span></button>
                            </div>
                            <div class="text-center">
                                    <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 m-5" type="button"> <span class="material-symbols-outlined">
                                        description
                                        </span> DESCRIPTION <svg class="ml-2 w-4 h-4" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
                                    <!-- Dropdown menu -->
                                    <div id="dropdown" class="hidden z-10 w-96 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 p-5 text-justify">
                                        Some of you must have played the game called Mafia, some of you must have played the game called Among Us. What we have done is modify each game and made a fusion of it. Who will win? The hackers or the people? To find out, join us on the adventure!
                                    </div>
                                    
                                    <button type="button" class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 mr-2 mb-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"/></svg>                           
                                        <span style="padding-left: 0.2rem;">WATCH DEMO</span>
                                      </button>
                                    
                            </div>   
                            </div>
                        </div>




<!--   

        <section id="main" class="dark:bg-gray-900 w-full">
            <div
                class="flex flex-wrap justify-center max-w-screen-xl p-1 mx-auto gap-8 lg:py-16 lg:grid-cols-12 bg-transparent">

                <a href="events/event1"
                    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
                        technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </a>
                <a href="events/event2"
                    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
                        technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </a>
                <a href="events/event3"
                    class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy
                        technology acquisitions 2021</h5>
                    <p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise
                        technology acquisitions of 2021 so far, in reverse chronological order.</p>
                </a>
            </div>
        </section>-->

    </main>
    <div class="footer">
        <%- include('./partials/foot'); %>
    </div>
    <!-- scripts -->
    <!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- swup -->
    <!-- swup -->
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script src="/js/main.js" type="text/javascript"></script>
</body>

</html>