@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

:root {
    --pink: rgb(231, 29, 187);
    --blue: rgb(29, 137, 231);
}

body {
    margin: 0;
    padding: 0;
}

/* swup */
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

#spline {
    width: 100%;
    height: 40rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

#swup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
}

.myfont-nav {
    font-family: 'Rouge Script', cursive;

}
.contact {

 position:absolute;
 min-height:100vh;
 padding: 50px 100px;
 display: flex;
 justify-content: center;
 align-items:center;
 flex-direction:column;
 /* background-color: #111827;
    background-color: background: linear-gradient(200deg, rgba(2,0,36,1) 37%, rgba(7,196,3,1) 48%, rgba(2,0,36,1) 73%);
 */
 background: linear-gradient(200deg, rgba(2,0,36,1) 34%, rgba(7,196,3,1) 48%, rgba(2,13,15,1) 61%);
 background-size:cover;
}
.contact .content h1{
    padding-top: 50px;
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .content p{
    font-weight: 300;
    color: #fff;
}
.container{
    width:100%;
    display: flex;
  
    justify-content:center;
    align-items: center;
    margin-top: 30px;
}
.container .contactInfo{
    width:50%;
    display:flex;
    flex-direction: column;
    
}
.container .contactInfo .box{
    position: relative;
    padding:20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
min-width:60px;
height: 60px;
background: 60px;
background-color: #fff;
display: flex;
justify-content: center;
align-items:center;
border-radius:50%;
font-size: 22px;

}
.container .contactInfo .box .text{
display:flex;
margin-left: 20px;
font-size: 16px;
color: rgb(255, 255, 255);
flex-direction: column;
font-weight: 300;
}
.container .contactInfo .box .text h3{

font-weight: 500;
color:rgb(90, 255, 123)
/* color: #00bcd4; */
}
.contactForm{
    width: 40%;
    padding:40px;
    background: #fff;
}
.contactForm h2{
    font-size: 30px;
    color:#333;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width:100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    box-shadow: none;
    outline:none;
    resize: none;
}
.contactForm .inputBox span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events:none;
    transition:0.5s;
    color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #e91e63;
    font-size:12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: rgb(90, 255, 123);
    color:#fff;
    border:none;
    cursor:pointer;
    padding: 10px;
    font-size: 18px;

}
@media (max-width: 991px)
{
    .contact{
        padding:50px;

    }
    .container{
        flex-direction: column;

    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm
    {
        width: 100%;
    }
}